### Query database using Natural Language

In [ ]:
%pip install -q streamlit langchain langchain-community langchain-openai python-dotenv

In [1]:
#import all necessary libraries
from langchain.agents import create_sql_agent
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_openai import ChatOpenAI
from langchain.sql_database import SQLDatabase
import os
from dotenv import load_dotenv
load_dotenv()
api_key = os.getenv("openai_api_key")

In [2]:
#Function to create mysql agent
def mysqldb_agent(db, llm, input):
    toolkit = SQLDatabaseToolkit(db=db, llm=llm)
    agent_executor = create_sql_agent(
        llm=llm,
        toolkit=toolkit,
        verbose=True
    )
    return agent_executor.run(input)

In [3]:
#OpenAI LLM
llm = ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo", api_key=api_key)

In [4]:
#Database connection inputs
db_user, db_password, db_host, db_name = "root", "root", "localhost", "bankdata"

In [5]:
#Establishing datanbase connection
try:
  db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")
  print("Database connection successful!")
except Exception as e:
  # If an exception occurs, print an error message
  print(f"Error connecting to the database: {str(e)}")

Database connection successful!

In [6]:
#testing
input_text = "What is the maximum transaction in database table?"
reply = mysqldb_agent(db, llm, input_text)
print(reply)

f:\Upwork_Projects\Query_database\querydb-env\Lib\site-packages\langchain_core\_api\deprecation.py:117: LangChainDeprecationWarning: The function `run` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

> Entering new AgentExecutor chain...
I need to find the table that contains transaction data and then query for the maximum transaction value.
Action: sql_db_list_tables
Action Input: creditcardI need to query the creditcard table to find the maximum transaction value.
Action: sql_db_schema
Action Input: creditcard
CREATE TABLE creditcard (
	`Time` INTEGER,
	`V1` FLOAT,
	`V2` FLOAT,
	`V3` FLOAT,
	`V4` FLOAT,
	`V5` FLOAT,
	`V6` FLOAT,
	`V7` FLOAT,
	`V8` FLOAT,
	`V9` FLOAT,
	`V10` FLOAT,
	`V11` FLOAT,
	`V12` FLOAT,
	`V13` FLOAT,
	`V14` FLOAT,
	`V15` FLOAT,
	`V16` FLOAT,
	`V17` FLOAT,
	`V18` FLOAT,
	`V19` FLOAT,
	`V20` FLOAT,
	`V21` FLOAT,
	`V22` FLOAT,
	`V23` FLOAT,
	`V24` FLOAT,
	`V25` FLOAT,
	`V26` FLOAT,
	`V27` FLOAT,
	`V28` FLOAT,
	`Amount` FLOAT,
	`Class` VARCHAR(50)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from creditcard table:
Time	V1	V2	V3	V4	V5	V6	V7	V8	V9	V10	V11	V12	V13	V14	V15	V16	V17	V18	V19	V20	V21	V22	V23	V24	V25	V26	V27	V28	Amount	Class
0	-1.35981	-0.0727812	2.53635	1.37816	-0.338321	0.462388	0.239599	0.0986979	0.363787	0.0907942	-0.5516	-0.617801	-0.99139	-0.311169	1.46818	-0.470401	0.207971	0.0257906	0.403993	0.251412	-0.0183068	0.277838	-0.110474	0.0669281	0.128539	-0.189115	0.133558	-0.0210531	149.62	"0"
0	1.19186	0.266151	0.16648	0.448154	0.0600176	-0.0823608	-0.078803	0.0851017	-0.255425	-0.166974	1.61273	1.06524	0.489095	-0.143772	0.635558	0.463917	-0.114805	-0.183361	-0.145783	-0.0690831	-0.225775	-0.638672	0.101288	-0.339846	0.16717	0.125895	-0.0089831	0.0147242	2.69	"0"
1	-1.35835	-1.34016	1.77321	0.37978	-0.503198	1.8005	0.791461	0.247676	-1.51465	0.207643	0.624501	0.0660837	0.717293	-0.165946	2.34587	-2.89008	1.10997	-0.121359	-2.26186	0.52498	0.247998	0.771679	0.909412	-0.689281	-0.327642	-0.139097	-0.0553528	-0.0597518	378.66	"0"
*/I need to query the creditcard table to find the maximum transaction value.
Action: sql_db_query
Action Input: SELECT MAX(Amount) FROM creditcard;[(25691.2,)]I now know the final answer
Final Answer: The maximum transaction value in the creditcard table is $25,691.20.

> Finished chain.
The maximum transaction value in the creditcard table is $25,691.20.